<section>
  <h1>Endorsements</h1>
  <p><em>If you find my work useful or time-saving, you can endorse it or buy me a beer:</em></p>
  <div class="endorse">
    <p><a href="http://coderwall.com/svilenv"><img src="http://api.coderwall.com/svilenv/endorse.png" alt="endorse"></a></p>
    <p><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=5FR7AQA4PLD8A"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" alt="Donate"></a></p>
  </div>
  <style type="text/css">
    .endorse {text-align: center;}
  </style>
</section>
